# Скопируйте этот файл в .env и подставьте свои значения

PORT=3001

# postgresql://ЛОГИН:ПАРОЛЬ@ХОСТ:ПОРТ/ИМЯ_БАЗЫ
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/moy_ne_sam

JWT_SECRET=change-me-on-exam-day-use-long-random-string
